<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t layui-form" id="signupForm">
                        <input id="id" name="id" class="form-control" type="hidden" th:value="${gift.id}">
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>主标题：</label>
                            <div class="col-sm-4">
                                <input id="giftMainTitle" name="giftMainTitle" class="form-control" type="text"
                                       th:value="${gift.giftMainTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>副标题：</label>
                            <div class="col-sm-4">
                                <input id="giftViceTitle" name="giftViceTitle" class="form-control" type="text"
                                       th:value="${gift.giftViceTitle}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red"></span>销量：</label>
                            <div class="col-sm-4">
                                <input id="buyCount" name="buyCount" class="form-control" type="text"
                                       th:value="${gift.buyCount}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">购买最低要求：</label>
                            <div class="col-sm-6">
                                <select name="minRequirement" name="minRequirement" lay-verify=""
                                        th:value="${gift.minRequirement}">
                                    <option value="">请选择</option>
                                    <option value="0" th:selected="${gift.minRequirement == 0}?true:false">
                                        会员
                                    </option>
                                    <option value="1" th:selected="${gift.minRequirement == 1}?true:false">
                                        学员
                                    </option>
                                    <option value="4" th:selected="${gift.minRequirement == 4}?true:false">
                                        创业教练
                                    </option>
                                    <option value="5" th:selected="${gift.minRequirement == 5}?true:false">
                                        班长
                                    </option>
                                    <option value="6" th:selected="${gift.minRequirement == 6}?true:false">
                                        院长
                                    </option>
                                    <option value="99" th:selected="${gift.minRequirement == 99}?true:false">
                                        校长
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>产品主图：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="giftMainImg" name="giftMainImg" class="form-control" type="text"
                                           th:value="${gift.giftMainImg}">
                                    <button type="button" class="layui-btn" id="giftMainImgBtn">上传产品主图</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="giftMainImgShow" th:src="${gift.giftMainImg}">
                                        <p id="giftMainImgShowDemo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>产品附图1：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="giftViceImg1" name="giftViceImg1" class="form-control" type="text"
                                           th:value="${gift.giftViceImg1}">
                                    <button type="button" class="layui-btn" id="giftViceImg1Btn">上传产品附图1</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="giftViceImg1Show"
                                             th:src="${gift.giftViceImg1}">
                                        <p id="giftViceImg1ShowDemo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>产品附图2：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="giftViceImg2" name="giftViceImg2" class="form-control" type="text"
                                           th:value="${gift.giftViceImg2}">
                                    <button type="button" class="layui-btn" id="giftViceImg2Btn">上传产品附图2</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="giftViceImg2Show"
                                             th:src="${gift.giftViceImg2}">
                                        <p id="giftViceImg2ShowDemo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>产品附图3：</label>
                            <div class="col-sm-6">
                                <div class="layui-upload">
                                    <input id="giftViceImg3" name="giftViceImg3" class="form-control" type="text"
                                           th:value="${gift.giftViceImg3}">
                                    <button type="button" class="layui-btn" id="giftViceImg3Btn">上传产品附图3</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="giftViceImg3Show"
                                             th:src="${gift.giftViceImg2}">
                                        <p id="giftViceImg3ShowDemo"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>产品背景图：</label>
                            <div class="col-sm-3">
                                <input id="giftShareBack" name="giftShareBack" th:value="${gift.giftShareBack}" class="form-control" type="text">
                                <div class="layui-upload">
                                    <button type="button" class="layui-btn" id="giftShareBackBtn">上传产品背景图</button>
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" id="giftShareBackShow"  th:src="${gift.giftShareBack}">
                                        <p id="giftShareBackDemo"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3" style="padding-top: 73px;">
                                <div class="layui-upload">
                                    <div class="layui-upload-list">
                                        <img class="layui-upload-img" src="http://chuang-saas.oss-cn-hangzhou.aliyuncs.com/upload/image/20181102/4b13a32d584446828658a0adb52c3cdc.jpg">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>价格：</label>
                            <div class="col-sm-3">
                                <input id="price" name="price" class="form-control" type="text"
                                       th:value="${gift.price}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>快递费：</label>
                            <div class="col-sm-3">
                                <input id="expressFee" name="expressFee" class="form-control" type="text"
                                       th:value="${gift.expressFee}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label"><span style="color:red">*</span>库存：</label>
                            <div class="col-sm-3">
                                <input id="stock" name="stock" class="form-control" type="text"
                                       th:value="${gift.stock}">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否发布：</label>
                            <div class="col-sm-6">
                                <div class="layui-input-block">
                                    <input type="radio" name="isShow" value="0" title="不发布"
                                           th:checked="${gift.isShow == 0 ? true:false}">
                                    <input type="radio" name="isShow" value="1" title="发布"
                                           th:checked="${gift.isShow == 1 ? true:false}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">是否推荐：</label>
                            <div class="col-sm-8">
                                <div class="layui-input-block">
                                    <input type="radio" name="isRecommend" value="0" title="不推荐"
                                           th:checked="${gift.isRecommend == 0 ? true:false}">
                                    <input type="radio" name="isRecommend" value="1" title="推荐"
                                           th:checked="${gift.isRecommend == 1 ? true:false}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">简介：</label>
                            <div class="col-sm-6">
                                <textarea id="giftDesc" name="giftDesc" style="display: none;" th:inline="text">[[${gift.giftDesc}]]</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/giftManager/gift/edit.js"/>
</body>
</html>
