<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">
                <form class="form-horizontal m-t layui-form" id="signupForm">
                    <input name="id" th:value="${userMaidPercent.id}"
                           type="hidden">
                    <!--<div class="form-group">-->
                        <!--<label class="col-sm-3 control-label">会员等级：</label>-->
                        <!--<div class="col-sm-8">-->
                            <!--<select name="memberLevel" name="memberLevel" lay-verify="" th:value="${userMaidPercent.memberLevel}">-->
                                <!--<option value="">请选择</option>-->
                                <!--<option value="1" th:selected="${userMaidPercent.memberLevel == 1}?true:false">学员</option>-->
                                <!--<option value="4" th:selected="${userMaidPercent.memberLevel == 4}?true:false">VIP学员</option>-->
                                <!--<option value="6" th:selected="${userMaidPercent.memberLevel == 6}?true:false">院长</option>-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="col-sm-3 control-label">学员分佣百分比：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="maidPercent1"
                                   th:value="${userMaidPercent.maidPercent1}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">VIP学员分佣百分比：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="maidPercent4"
                                   th:value="${userMaidPercent.maidPercent4}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">院长分佣百分比：</label>
                        <div class="col-sm-8">
                            <input class="form-control" type="text" name="maidPercent6"
                                   th:value="${userMaidPercent.maidPercent6}">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/maidPercentManager/edit.js">
</script>
</body>
</html>
