server:
  port: 8089
spring:
 #redis配置
  redis:
        host: localhost
        port: 6379
        jedis:
          pool:
            max-active: 8
            max-idle: 500
            max-wait: -1
            min-idle: 0
        database: 0
#activeMQ配置
  activemq:
      broker-url: tcp://localhost:61616
      user: admin
      password: admin
      pool:
        enabled: true
        max-connections: 50
        expiry-timeout: 10000
        idle-timeout: 30000
  http:
       multipart:
         max-file-size: 300Mb
         max-request-size: 300Mb
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://rm-bp14t37l6w6xxcb40go.mysql.rds.aliyuncs.com:3306/saas_online?useUnicode=true&characterEncoding=UTF-8&useSSL=true
    username: weiguonline0908
    password: xp20180908@!c
  thymeleaf:
    mode: LEGACYHTML5
    cache: false
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 300Mb
      max-request-size: 300Mb
logging:
  level:
    root: info
    org.mybatis: info
    com.bootdo: info
mybatis:
  configuration:
    map-underscore-to-camel-case: true
  mapper-locations: /mybatis/*.xml