<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="userId" name="userId" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">书籍名称：</label>
								<div class="col-sm-8">
									<input id="giftTitle" name="giftTitle" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货人手机：</label>
								<div class="col-sm-8">
									<input id="phone" name="phone" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">省：</label>
								<div class="col-sm-8">
									<input id="province" name="province" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">市：</label>
								<div class="col-sm-8">
									<input id="city" name="city" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">区：</label>
								<div class="col-sm-8">
									<input id="area" name="area" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">收货人地址：</label>
								<div class="col-sm-8">
									<input id="address" name="address" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">快递单号：</label>
								<div class="col-sm-8">
									<input id="expressNo" name="expressNo" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">快递公司 1韵达 2圆通 3EMS：</label>
								<div class="col-sm-8">
									<input id="expressCompany" name="expressCompany" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="createTime" name="createTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="modifyTime" name="modifyTime" class="form-control" type="text">
								</div>
							</div>
														<div class="form-group">	
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="available" name="available" class="form-control" type="text">
								</div>
							</div>
																					<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/giftManager/userGift/add.js">
	</script>
</body>
</html>
